{# usr/local/bin/music_portal/src/TeamMusicBundle/Resources/views/base_template.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Base TWIG Template{% endblock %}</title>
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block sidebar %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
